In [8]:
from sklearn.model_selection import train_test_split
import os
import pandas as pd

In [9]:
data = pd.read_csv("../data/labels.csv")

In [48]:
data.loc[data["class"]=="널링찍힘.txt", "class"] = "널링찍힘"

In [54]:
data["class"].value_counts()

널링양품     1173
널링이중선     361
리벳미압입     356
널링밀림      300
널링찍힘      263
Name: class, dtype: int64

In [75]:
data

                image_path            label_path        anns  class
0     Ch00_1000_널링양품_1.jpg  Ch00_1000_널링양품_1.txt  ['0', '1']   널링양품
1     Ch00_1001_널링양품_1.jpg  Ch00_1001_널링양품_1.txt  ['0', '1']   널링양품
2     Ch00_1002_널링양품_1.jpg  Ch00_1002_널링양품_1.txt  ['0', '1']   널링양품
3     Ch00_1003_널링양품_1.jpg  Ch00_1003_널링양품_1.txt  ['0', '1']   널링양품
4     Ch00_1004_널링양품_1.jpg  Ch00_1004_널링양품_1.txt  ['0', '1']   널링양품
...                    ...                   ...         ...    ...
2448   Ch01_94_리벳미압입_1.jpg   Ch01_94_리벳미압입_1.txt  ['0', '1']  리벳미압입
2449   Ch01_95_리벳미압입_1.jpg   Ch01_95_리벳미압입_1.txt  ['0', '1']  리벳미압입
2450   Ch01_96_리벳미압입_1.jpg   Ch01_96_리벳미압입_1.txt  ['0', '1']  리벳미압입
2451   Ch01_97_리벳미압입_1.jpg   Ch01_97_리벳미압입_1.txt  ['0', '1']  리벳미압입
2452   Ch01_98_리벳미압입_1.jpg   Ch01_98_리벳미압입_1.txt  ['0', '1']  리벳미압입

[2453 rows x 4 columns]

In [76]:
train, test = train_test_split(data, test_size=0.2, stratify=data["class"])

In [81]:
train["class"].value_counts()

널링양품     938
널링이중선    289
리벳미압입    285
널링밀림     240
널링찍힘     210
Name: class, dtype: int64

In [82]:
test["class"].value_counts()

널링양품     235
널링이중선     72
리벳미압입     71
널링밀림      60
널링찍힘      53
Name: class, dtype: int64

In [95]:
class_to_num = dict()
class_to_num["널링양품"] = 1
class_to_num["널링이중선"] = 2
class_to_num["리벳미압입"] = 0
class_to_num["널링밀림"] = 3
class_to_num["널링찍힘"] = 4

In [98]:
train

                 image_path             label_path        anns  class
463    Ch00_1391_널링양품_1.jpg   Ch00_1391_널링양품_1.txt  ['0', '1']   널링양품
992    Ch00_4707_널링찍힘_2.jpg   Ch00_4707_널링찍힘_2.txt       ['2']   널링찍힘
2241   Ch01_283_널링이중선_2.jpg   Ch01_283_널링이중선_2.txt       ['4']  널링이중선
785     Ch00_416_널링밀림_1.jpg    Ch00_416_널링밀림_1.txt       ['3']   널링밀림
69     Ch00_1059_널링양품_1.jpg   Ch00_1059_널링양품_1.txt  ['0', '1']   널링양품
...                     ...                    ...         ...    ...
1750   Ch01_1255_널링양품_1.jpg   Ch01_1255_널링양품_1.txt  ['0', '1']   널링양품
843    Ch00_4413_널링찍힘_2.jpg   Ch00_4413_널링찍힘_2.txt       ['2']   널링찍힘
1212  Ch00_5234_리벳미압입_2.jpg  Ch00_5234_리벳미압입_2.txt  ['0', '1']  리벳미압입
1882   Ch01_1384_널링양품_1.jpg   Ch01_1384_널링양품_1.txt  ['0', '1']   널링양품
1042    Ch00_484_널링밀림_3.jpg    Ch00_484_널링밀림_3.txt       ['3']   널링밀림

[1962 rows x 4 columns]

In [111]:
train["label"] = train["class"].apply(lambda x:class_to_num[x])
test["label"] = test["class"].apply(lambda x:class_to_num[x])
data["label"] = data["class"].apply(lambda x:class_to_num[x])

In [107]:
train["label"].value_counts()

1    938
2    289
0    285
3    240
4    210
Name: label, dtype: int64

In [108]:
test["label"].value_counts()

1    235
2     72
0     71
3     60
4     53
Name: label, dtype: int64

In [109]:
train.to_csv("train_csv.csv", index=False)

In [110]:
test.to_csv("test_csv.csv", index=False)

In [112]:
data.to_csv("../data/data_csv.csv", index=False)

In [88]:
train

                 image_path             label_path        anns  class
463    Ch00_1391_널링양품_1.jpg   Ch00_1391_널링양품_1.txt  ['0', '1']   널링양품
992    Ch00_4707_널링찍힘_2.jpg   Ch00_4707_널링찍힘_2.txt       ['2']   널링찍힘
2241   Ch01_283_널링이중선_2.jpg   Ch01_283_널링이중선_2.txt       ['4']  널링이중선
785     Ch00_416_널링밀림_1.jpg    Ch00_416_널링밀림_1.txt       ['3']   널링밀림
69     Ch00_1059_널링양품_1.jpg   Ch00_1059_널링양품_1.txt  ['0', '1']   널링양품
...                     ...                    ...         ...    ...
1750   Ch01_1255_널링양품_1.jpg   Ch01_1255_널링양품_1.txt  ['0', '1']   널링양품
843    Ch00_4413_널링찍힘_2.jpg   Ch00_4413_널링찍힘_2.txt       ['2']   널링찍힘
1212  Ch00_5234_리벳미압입_2.jpg  Ch00_5234_리벳미압입_2.txt  ['0', '1']  리벳미압입
1882   Ch01_1384_널링양품_1.jpg   Ch01_1384_널링양품_1.txt  ['0', '1']   널링양품
1042    Ch00_484_널링밀림_3.jpg    Ch00_484_널링밀림_3.txt       ['3']   널링밀림

[1962 rows x 4 columns]

In [113]:
data["label"].value_counts()

1    1173
2     361
0     356
3     300
4     263
Name: label, dtype: int64